page-online-service {

}

.feedBack_textArea{
    width: 100%;
    border-radius: .138889rem;
    border: 1px solid #CCCCCC;
    resize: none;
    font-size: .444444rem;
    color: #333333;
    height:3.083333rem ;
    padding: 5px;
    box-sizing: border-box ;
}

.feedBack_rest{
    position: absolute;
    right: 5px;
    bottom: 5px;
    font-size: .444444rem;
    color: #333333;
}