page-msg-center {
}
.msgCenter_title {
  font-size: 0.444444rem;
  color: rgba(51, 51, 51, 1);
  margin-bottom: 0.416667rem;
}
.msgCenter_content {
  font-size: 0.388889rem;
  color: rgba(190, 190, 190, 1);
}
.msgCenter_item {
  padding: 0.416667rem !important;
}
