contact-list {
  background: #fff;
}

.model-list {
  width: 100%;
  list-style: none;
  height: 100%;
  overflow-y: scroll;
}
.model-list > li {
  width: 100%;
  font-size: 13px;
  padding: 20px 20px;
  border-bottom: 1px solid rgba(204, 204, 204, 0.5);
}
