.chooseRewardWrap {
  padding: 0.416667rem;
  color: #aaaaaa;

  .noChoose {
    width: 100%;
    height: 1.25rem;
    background: #fff;
    border-radius: 0.138889rem;
    line-height: 1.25rem;
    padding: 0 0.416667rem;
    position: relative;
    font-size: 0.416667rem;
    &.active {
      border: 1px solid #4d84fc;
      .chooseDot {
        background: url(../../assets/imgs/voucherCenter/dot_active.png)
          no-repeat center;
        background-size: contain;
      }
    }
  }

  .chooseDot {
    position: absolute;
    width: 0.555556rem;
    height: 0.555556rem;
    border: 1px solid #bebebe;
    border-radius: 50%;
    right: 0.416667rem;
    top: 50%;
    margin-top: -0.305556rem;

    // &.active {
    //   background: url(../../assets/imgs/voucherCenter/dot_active.png) no-repeat center;
    //   background-size: contain;
    // }
  }

  .rewardItem {
    width: 9.166667rem;
    height: 3.069444rem;
    margin: 0.416667rem auto 0;
    padding: 0.208333rem 0.208333rem 0 0.416667rem;
    color: #fff;
    display: flex;
    background: url(../../assets/imgs/voucherCenter/reward_chooe.png) no-repeat
      center;
    background-size: contain;
    &.active {
      border: 1px solid #4d84fc;
      .chooseDot {
        background: url(../../assets/imgs/voucherCenter/dot_active.png)
          no-repeat center;
        background-size: contain;
      }
    }

    .item-l {
      flex: 1;

      span {
        display: block;
        font-size: 0.333333rem;
        color: #aaa;
      }

      span:nth-child(1) {
        font-size: 1rem;
        margin-bottom: 0.138889rem;
        font-weight: bolder;
        color: #4d84fc;
        i {
          font-size: 0.666667rem;
        }
      }

      span:nth-child(2) {
        line-height: 0.444444rem;
        margin-bottom: 0.138889rem;
      }
    }

    .item-r {
      width: 2.569444rem;
      text-align: center;
      font-size: 0.427778rem;
      margin-top: 0.238889rem;
      position: relative;
    }
  }
}
