footer-service {
}

.small-tip {
  color: #cccccc;
  font-size: 0.333333rem;
  text-align: center;
  margin-bottom: 1.569444rem;
  position: relative;
}

.line {
  position: relative;
}

.line::after {
  content: "";
  display: block;
  width: 0.972222rem;
  height: 1px;
  background: #ccc;
  position: absolute;
  top: 50%;
  left: -1.072222rem;
}

.line::before {
  content: "";
  display: block;
  width: 0.972222rem;
  height: 1px;
  background: #ccc;
  position: absolute;
  top: 50%;
  right: -1.072222rem;
}
