page-config {
}
.configWrap {
  margin-top: 0.416667rem;
  background: #fff;
  // height: 4.166667rem;
}
.config_item {
  margin-left: 0.527778rem;
  font-size: 0.444444rem;
  color: rgba(0, 0, 0, 1);
  height: 1.388889rem;
  line-height: 1.388889rem;
  border-bottom: 1px solid #d0d0d0;
  padding-right: 0.583333rem;
}
.config_icon {
  color: #d0d0d0;
}
.version_text {
  color: #d0d0d0;
}
