.reg-protocol-main {
  overflow: hidden;
  padding: 0.277778rem 0.416667rem;
  > p {
    margin-top: 0.5rem;
    font-size: 0.177778rem;
  }
  h2 {
    font-weight: bold;
    font-size: 0.277778rem;
    text-align: center;
    margin: 0 0 0.277778rem;
  }
  h4 {
    font-size: 0.177778rem;
  }
  h3 {
    font-weight: bold;
    font-size: 0.25rem;
    margin: 0.555556rem 0;
  }
  li {
    padding-left: 0.7rem;
    line-height: 1.5em;
    font-size: 0.177778rem;
  }
  .mar-b {
    margin-bottom: 0.416667rem;
  }
}
